.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 30px;
  padding-bottom: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.reservation-pane {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 80vh;
  border-right: solid;
  border-color: #EEEEEE;
  width: 300px;
  min-width: 300px;
}

.reservations {
  width: 80%;
  min-width: 600px;
  .mat-card{
    width: 100%;
    transition: 0.3s ease;
    padding: 20px !important;
    overflow: hidden;
    cursor: pointer;
  }
}

.custom-card:hover {
  background-color: #673AB7;
  color: #FAFAFA;
}

.active {
  background-color: #673AB7;
  color: #FAFAFA;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  transition: 0.3s ease;
}
