<form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
  <div class="form-container">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <mat-form-field>
        <input matInput type="text" placeholder="Input" formControlName="username" placeholder="Username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" required formControlName="password">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" class="mt-5" [disabled]="!loginForm.valid">Sign in</button>
  </div>
</form>