@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.custom-alert-success {
    margin: 0;
    width: 100%;
    background-color: #009688;
    color: #FAFAFA;
    padding: 10px;
    border-radius: 0;
    transition: 0.5s ease;
}

.custom-alert-danger {
    margin: 0;
    width: 100%;
    background-color: #F44336;
    color: #FAFAFA;
    padding: 10px;
    border-radius: 0;
    transition: 0.5s ease;
}

// @import "~bootstrap/dist/css/bootstrap.css;