<app-navbar></app-navbar>
<div class="main-container mt-5">

  <div class="center-div">

    <h2 style="text-align: center">PROFILE</h2>

    <div class="row mt-5">

      <div class="col-sm-3"></div>

      <div class="col-sm-3">
        Full Name :
      </div>
      <div class="col-sm-6">
        <h5>{{user.name}}</h5>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-3"></div>

      <div class="col-sm-3">
        Username :
      </div>
      <div class="col-sm-6">
        <h5>{{user.username}}</h5>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-3"></div>

      <div class="col-sm-3">
        Email :
      </div>
      <div class="col-sm-6">
        <h5>{{user.email}}</h5>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-3"></div>

      <div class="col-sm-3">
        Contact :
      </div>
      <div class="col-sm-6">
        <h6>{{user.contact}}</h6>
      </div>

    </div>

  </div>

</div>

