<div class="alert alert-danger" role="alert" [hidden]="!message">
  {{message}}
</div>

<form (ngSubmit)="onRegisterSubmit(registerForm.value)" [formGroup]="registerForm">
<div class="form-container">
    <h1 class="h3 mb-3 font-weight-normal">Registration - New User</h1>
    <mat-form-field class="mb-3">
      <input  matInput type="text" placeholder="Enter Name" formControlName="name" placeholder="Name" required>
      <mat-error *ngIf="!registerForm.controls['name'].valid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
        Name should be atleast 3 chracters long
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="mb-3">
      <input matInput type="text" placeholder="Enter Username" formControlName="username" placeholder="Username" required>
      <mat-error *ngIf="!registerForm.controls['username'].valid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
          Username should be atleast 3 characters long
      </mat-error>
    </mat-form-field>
      
    <mat-form-field class="mb-3">
      <input matInput type="email" placeholder="Enter Email" formControlName="email" required placeholder="Email">
      <mat-error *ngIf="!registerForm.controls['email'].valid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
        Please provide a valid email address
      </mat-error>
    </mat-form-field>
      
    <mat-form-field class="mb-3">
      <input matInput type="password" id="exampleInputPassword1" placeholder="Password" formControlName="password" placeholder="Password" required>
      <mat-error *ngIf="!registerForm.controls['password'].valid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
          Password should be atleast 6 characters long
        </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Submit</button>
</div>
</form>