<div class="jumbotron" style="background-color: #fafafa !important">
  <h1 class="display-4">UCSC Lab Reservation</h1>
  <p class="lead mb-4">Login or register to start reserving your slot in our labs</p>
  <div>
    <button mat-raised-button color="primary" routerLink="/home/login" role="button" [hidden]="user">Login</button>
    <button mat-raised-button color="warn" class="ml-2" routerLink="/home/register" [hidden]="user">Register</button>
  </div>
</div>

<div class="text-center">
  <div class="flex-container">
    <mat-card class="nav-card mx-3" routerLink="/reservation"><h5>Laboratory Reservation</h5></mat-card>
    <mat-card class="nav-card mx-3" routerLink="/profile"><h5>User Profile</h5></mat-card>
    <mat-card class="nav-card mx-3" routerLink="/admin/login"><h5>Administrator Dashboard</h5></mat-card>
  </div>
</div>

