.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 30px;
  padding-bottom: 0;
}

.report-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}
